* {
    padding: 0;
    margin: 0;
}

.index {
    background-color: #5f473a;
    height: 45px;
    width: 100%;
    position: fixed;
    z-index: 1000;
}

.index a.logo {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    position: absolute;
    left: 80px;
    top: 0;
    line-height: 45px;
    text-decoration: none;
}

.index a.logo:hover {
    color: #f4e8d5;
    text-decoration: none;
}

.index ul {
    position: absolute;
    right: 5vw;
    top: 0;
    line-height: 45px;
}

.index li {
    display: inline;
    margin-right: 4vw;
}

.index ul a {
    color: white;
    text-decoration: none;
}

.index ul a:hover {
    text-decoration: underline;
}

.title {
    height: 50vh;
    background-image: url("images/主餐.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative; /* Added to make the text position relative to the title */
}

.title h1 {
    color: rgb(255, 255, 255);
    text-shadow: #5f473a 0.1em 0.1em 0.2em;
    position: absolute;
    right: 60px;
    top: 50%; /* Adjusted to vertically center */
    transform: translateY(-50%); /* Vertically center the text */
    line-height: 80px;
    font-size: 60px;
}

main {
    background-color: #f4e8d5;
    padding: 10px 200px;
}

.menu-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px; /* 调整[D]主餐与第一排图像之间的间距 */
    margin-bottom: 40px; /* 调整[D]主餐与下方图像之间的间距 */
}
.menu-section h2 {
    margin-bottom: 30px; /* 调整标题与菜品图片之间的间距 */
}
.category {
    margin-bottom: 100px;
}

.category h2 {
    border: 2px solid black;
    padding: 10px;
    text-align: center;
    width: 50%; /* 根据需要调整宽度 */
}

.horizontal-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.menu-item {
    width: calc(33.33% - 80px);
    margin-right: 40px;
    margin-bottom: 100px;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
}

.menu-item h3 {
    margin-top: 50px; /* Added to create space between image and text */
}

.menu-item img {
    max-width: 300px; /* Increased maximum width for menu item images */
}
